---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import Main from "../../layouts/Main.astro";
import { Icon } from "astro-icon/components";
import Thumbnail from "../../components/Thumbnail.astro";

export async function getStaticPaths() {
  let artists = await getCollection("artists");
  return artists
    .filter((artist) => artist.data.hidden !== true)
    .map((artist) => ({
      params: { slug: artist.slug },
      props: artist,
    }));
}
type Props = CollectionEntry<"artists">;

const artist = Astro.props;
const { Content } = await artist.render();

const all_rooms = await getCollection("rooms");
const rooms = all_rooms.filter((room) =>
  room.data.artists.includes(artist.slug)
);
const all_films = await getCollection("films");
const films = all_films.filter((film) =>
  film.data.artists.includes(artist.slug)
);
const all_venues = await getCollection("venues");
---

<Main title={`${artist.data.title}`}>
  <main>
    <section>
      <div class="flex flex-wrap">
        <div class="md:w-1/2">
          <Content />
        </div>
        <div class="md:w-1/2">
          <Image
            widths={[360, 1600]}
            sizes={`(max-width: 360px) 360px, 1600px`}
            src={artist.data.featuredImage}
            alt={artist.data.title}
            class="px-8 max-w-full w-auto object-cover"
          />
        </div>
      </div>

      <div
        x-data="{activeSlide:null}"
        x-init="() => {window.$refs = $refs;}"
      >
        <ul class="flex flex-wrap gap-3 justify-evenly">
          {
            artist.data.works.map((work,i) => (
              <li>
                <Thumbnail
                  src={work.src}
                  alt={work.title}
                  title={work.title}
                  @click={`() => { activeSlide:${1+i}; $refs.dialog.showModal();}`}
                />
              </li>
            ))
          }
        </ul>
        <dialog
          x-ref="dialog"
          x-transition
          id="thumb-dialog"
          class="w-full h-full bg-transparent backdrop:bg-black backdrop:opacity-90"
        >
          <button
            @click="() => {dialog_open = false; $refs.dialog.close();}"
            class="absolute top-0 right-0 focus-visible:outline-none text-white z-10"
            ><Icon
              name="material-symbols-light:close"
              class="size-8 lg:size-16"
            />
          </button>



          <div class="h-full w-11/12 flex flex-col justify-center items-center mx-auto">
            <div 
              class=" w-full mx-auto relative"
              x-data={`{ activeSlide: 1, slides: ${artist.data.works.length} }`}
            >
              <!-- Slides -->
  
              {
                artist.data.works.map((work,i) => (
                <div
                  x-show={`activeSlide === ${i+1}`}
                  class=" w-full h-full max-h-[80%] text-sm lg:text-xl flex flex-col items-center text-white border z-10">
                    <Image
                      src={work.src}
                      alt={work.title}
                      title={work.title}
                      widths={[360, 1600]}
                      sizes={`(max-width: 360px) 360px, 1600px`}
                      data-inventorynumber={work.inventorynumber}
                      data-info={work.info}
                      data-credit={work.credit}
                      class="object-contain w-auto m-auto"
                    />
                    <div class="text-center">
                    <p class="p-1 pt-4">{work.title}</p>
                    <p class="p-0 m-0 text-xs lg:text-lg italic opacity-80">{work.info}, {work.credit}, {work.inventorynumber}</p>
                    </div>
                  </div>
                ))
             }
              
              <!-- Prev/Next Arrows -->
              <div class="absolute inset-0 flex z-0">
                <div class="flex items-center justify-start w-1/2">
                  <button 
                    class="bg-white text-black text-lg font-bold hover:shadow-lg rounded-full w-12 h-12 -ml-6 select-none"
                    x-on:click="activeSlide = activeSlide === 1 ? slides.length : activeSlide - 1"
                    x-on:keyup.left.window="activeSlide = activeSlide === 1 ? slides.length : activeSlide - 1"
                    >
                    &#8592;
                  </button>
                </div>
                <div class="flex items-center justify-end w-1/2">
                  <button 
                    class="bg-white text-black text-xl font-bold hover:shadow rounded-full w-12 h-12 -mr-6 select-none"
                    x-on:click="activeSlide = activeSlide === slides.length ? 1 : activeSlide + 1"
                    x-on:keyup.right.window="activeSlide = activeSlide === slides.length ? 1 : activeSlide + 1"
                    >
                    &#8594;
                  </button>
                </div>        
              </div>
            </div>
            
            </div>
          </div>
        </dialog>
      </div>
      {
        rooms.length > 0 && (
          <div>
            <h2>Rooms</h2>
            {rooms.map((room) => (
              <>
                <h3>
                  <a href={`/rooms/${room.slug}`}>{room.data.title}</a>
                </h3>
              </>
            ))}
          </div>
        )
      }
      {
        films.length > 0 && (
          <div>
            <h2>Films</h2>
            {films.map((film) => (
              <>
                <h3>
                  <a href={`/films/${film.slug}`}>{film.data.title}</a>
                </h3>
              </>
            ))}
          </div>
        )
      }
    </section>
  </main>
</Main>
