---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const artists = await getCollection("artists");
  return artists.map((artist) => ({
    params: { slug: artist.slug },
    props: artist,
  }));
}
type Props = CollectionEntry<"artists">;

const artist = Astro.props;
const { Content } = await artist.render();

const all_rooms = await getCollection("rooms");
const rooms = all_rooms.filter((room) =>
  room.data.artists.includes(artist.slug)
);
console.log(rooms);
const all_venues = await getCollection("venues");
---

<main>
  <section>
    <h1 class="title">{artist.data.name}</h1>
    <div>
      <h2>About</h2>
      <Content />
    </div>
    <div>
      <h2>Works</h2>
      {
        artist.data.works.map((work) => (
          <>
            <div>
              <h3>{work.title}</h3>
              <Image
                width={500}
                height={500}
                src={work.image}
                alt={work.title}
              />
              <div>{work.description}</div>
            </div>
          </>
        ))
      }
    </div>
    <div>
      <h2>rooms</h2>
      {
        rooms.map((room) => (
          <>
            <h3>
              <a href={`/rooms/${room.slug}`}>{room.data.title}</a>
            </h3>
          </>
        ))
      }
    </div>
  </section>
</main>
