---
import { getCollection, getEntryBySlug } from "astro:content";
import { Image } from "astro:assets";
import FormattedDate from "../../components/FormattedDate.astro";
import Main from "../layouts/Main.astro";

import settings from "../_data/index_settings.json" with { type: "json" };
import FormattedDate from "../components/FormattedDate.astro";
import { setSyntheticTrailingComments } from "typescript";

const rooms = [];
const artists = [];
const films = [];

for (const slug of settings.rooms) {
  const room = await getEntryBySlug("rooms", slug);
  rooms.push(room);
}
for (const slug of settings.artists) {
  const artist = await getEntryBySlug("artists", slug);
  artists.push(artist);
}
for (const slug of settings.films) {
  const film = await getEntryBySlug("films", slug);
  films.push(film);
}
---

<Main title="Artist Rooms">
  <main>
    <section>
      <h3>Featured Rooms</h3>
      <ul class="flex flex-wrap gap-4">
        {
          rooms.map((room) => (
            <li class="room">
              <a href={`/rooms/${room.slug}/`}>
                {room.data.images?.length && (
                  <Image
                    width={500}
                    src={room.data.images[0]}
                    alt={room.data.title}
                    class="h-64 w-auto object-contain"
                  />
                )}
                <h4 class="title">{room.data.title}</h4>
                <p class="date text-sm">
                  <FormattedDate date={room.data.startdate} />{" "}
                  {room.data.enddate && (
                    <>
                      {" "}
                      - <FormattedDate date={room.data.enddate} />
                    </>
                  )}
                </p>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h3>Featured Artists</h3>
      <ul class="flex flex-wrap gap-4">
        {
          artists.map((artist) => (
            <li class="artist">
              <a href={`/artists/${artist.slug}/`}>
                {artist.data.featuredImage && (
                  <Image
                    width={500}
                    src={artist.data.featuredImage}
                    alt={artist.data.title}
                    class="h-64 w-auto object-contain"
                  />
                )}
                <h4 class="title">{artist.data.title}</h4>
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section>
      <h3>Featured Films</h3>
      <ul class="flex flex-wrap gap-4">
        {
          films.map((film) => (
            <li class="film">
              <a href={`/films/${film.slug}`}><iframe
                id="ytplayer"
                type="text/html"
                width="640"
                height="360"
                class="w-full h-auto md:h-64 md:w-auto aspect-video object-contain pointer-events-none"
                loading="lazy"
                src={film.data.url}
                frameborder="0"
              /></a>
              <h4>{film.data.title}</h4>
            </li>
          ))
        }
      </ul>
    </section>

    {
      settings.sections.map((section) => (
        <section>
          <h3>{section.title}</h3>
          <div>{section.text}</div>
        </section>
      ))
    }
  </main>
</Main>
