---
import { getCollection, getEntryBySlug } from "astro:content";
import { Image } from "astro:assets";
import Main from "../layouts/Main.astro";
import { extract } from "@extractus/oembed-extractor";

import settings from "../_data/index_settings.json" with { type: "json" };
import { marked } from "marked";

import FormattedDate from "../components/FormattedDate.astro";
import Thumbnail from "../components/Thumbnail.astro";

const rooms = [];
const artists = [];
const films = [];

for (const slug of settings.rooms) {
  const room = await getEntryBySlug("rooms", slug);
  rooms.push(room);
}
for (const slug of settings.artists) {
  const artist = await getEntryBySlug("artists", slug);
  artists.push(artist);
}
for (const slug of settings.films) {
  const film = await getEntryBySlug("films", slug);
  const id = film.data.url.split("/").pop();
  const res = await extract(`https://www.youtube.com/watch?v=${id}`);
  film.data.thumbnail_url = res.thumbnail_url;
  film.data.thumbnail_width = res.thumbnail_width;
  film.data.thumbnail_height = res.thumbnail_height;
  films.push(film);
}
---

<Main title="Artist Rooms">
  <main>
    {
      settings.intro && (
        <section class="intro">
          <div set:html={marked.parse(settings.intro)} />
        </section>
      )
    }
    <section>
      <ul class="flex flex-wrap gap-3 justify-around">
        {
          rooms.map((room) => (
            <Thumbnail
              src={room.data.images[0]}
              alt={room.data.title}
              title={`VISIT: ${room.data.title}`}
              href={`/rooms/${room.slug}`}
            >
              <p class="text-sm my-[-0.5rem] italic">
                <FormattedDate date={room.data.startdate} /> -{" "}
                {(room.data.enddate && (
                  <FormattedDate date={room.data.enddate} />
                )) ||
                  `ONGOING`}
              </p>
            </Thumbnail>
          ))
        }
      </ul>
    </section>
    <section>
      <ul class="flex flex-wrap gap-3 justify-evenly">
        {
          artists.map((artist) => (
            <Thumbnail
              src={artist.data.featuredImage}
              alt={artist.data.title}
              title={`READ: ${artist.data.title}`}
              href={`/artists/${artist.slug}`}
            />
          ))
        }
      </ul>
    </section>
    <section>
      <ul class="flex flex-wrap gap-3 justify-around">
        {
          films.map((film) => (
            <Thumbnail
              src={film.data.thumbnail_url}
              width={film.data.thumbnail_width}
              height={film.data.thumbnail_height}
              alt={film.data.title.replace(/ARTIST ROOMS:?/, "")}
              title={`WATCH: ${film.data.title.replace(/ARTIST ROOMS:?/, "")}`}
              href={`/films/${film.slug}`}
            />
          ))
        }
      </ul>
    </section>
    {
      settings.outro && (
        <section class="outro">
          <div set:html={marked.parse(settings.outro)} />
        </section>
      )
    }
  </main>
</Main>
