---
const today = new Date();
import { Image } from "astro:assets";
import logoNgs from "../assets/logo-ngs.png";
import logoTate from "../assets/logo-tate.png";
import Main from "../layouts/Main.astro";
import { Icon } from "astro-icon/components";
import Thumbnail from "../components/Thumbnail.astro";

import { getEntry, getEntries } from 'astro:content';
const artist = await getEntry("artists", "jeff-koons");
---

<Main title="slideshow playground" x-data="{ open: false }">
  <div class="items-center justify-center" xx-data="{ open: false }">
    <button
      @click="$refs.dialog.showModal(); $refs['slide1'].scrollIntoView(); open=!open;"
      @keyup.period.window="$refs.dialog.showModal(); open=!open;"
      class="focus-visible:outline-none"
      ><Icon
        name="material-symbols-light:chevron-right"
        class="size-6 lg:size-12"
      /></button
    >
    <button
      @click="$refs['slide2'].scrollIntoView({behavior:'instant'}); $refs.dialog.showModal();  open=!open;"
      @keyup.period.window="$refs.dialog.showModal(); open=!open;"
      class="focus-visible:outline-none"
      ><Icon
        name="material-symbols-light:chevron-right"
        class="size-6 lg:size-12"
      /></button
    >

    <ul class="flex flex-wrap gap-3 justify-between">
      {
        artist.data.works.map((work, i) => (
          <li x-data={`{slide:'slide${i}'}`}
            class="w-full md:w-1/3 lg:w-1/4 xl:w-1/5 xxl:w-1/6 p-0 md:p-4"
            @click.prevent="$refs[slide].scrollIntoView(); $refs.dialog.showModal();  open=!open;"
          >
            <Thumbnail src={work.src} alt={work.title} title={work.title}>
              <div class="h-full">
                {work.title && <h5 class="text-balance">{work.title}</h5>}
              </div>
            </Thumbnail>
          </li>
        ))
      }
      </ul>


    <dialog
      id="dialog"
      x-ref="dialog"
      class="w-screen h-screen inset-0 z-[600] opacity-0 pointer-events-none transition-opacity duration-500 open:opacity-100 open:pointer-events-auto bg-gray-100 backdrop:bg-gray-800 backdrop:opacity-60"
      role="dialog"
      aria-modal="true"
    >
      <div
        x-ref="slider"
        class="flex overflow-x-scroll items-start h-full snap-x snap-mandatory scroll-smooth"
      >
        <button
          @click="$refs.dialog.close(); open=!open;"
          class="absolute leading-none right-2 top-2 focus-visible:outline-none z-10"
          ><Icon
            name="material-symbols-light:close"
            class="size-6 lg:size-12"
          /></button
        >
        <button
          @click="let {scrollLeft, clientWidth, scrollWidth} = $refs.slider;  $refs.slider.scrollBy({left: -clientWidth, behavior:'smooth'});"
          @keyup.left.window="let {scrollLeft, clientWidth, scrollWidth} = $refs.slider; $refs.slider.scrollBy({left: -clientWidth, behavior:'smooth'});"
          class="absolute left-0 top-1/2 leading-none focus-visible:outline-none z-10"
          ><Icon
            name="material-symbols-light:chevron-left"
            class="size-6 lg:size-12"
          /></button
        >
        <button
          @click="let {scrollLeft, clientWidth, scrollWidth} = $refs.slider; $refs.slider.scrollBy({left: clientWidth, behavior:'smooth'});"
          @keyup.right.window="let {scrollLeft, clientWidth, scrollWidth} = $refs.slider; $refs.slider.scrollBy({left: clientWidth, behavior:'smooth'});"
          class="absolute right-0 top-1/2 leading-none focus-visible:outline-none z-10"
          ><Icon
            name="material-symbols-light:chevron-right"
            class="size-6 lg:size-12"
          /></button
        >

        {artist.data.works.map((work,_i) => (
          <div
            x-ref={`slide${_i}`}
            class="relative flex-none w-full h-full p-2 grid grid-rows-[1fr,auto,auto] items-center justify-center snap-x snap-center text-sm font-thin"
          >
            <div class="w-full h-[80vh] xgrid xplace-items-center">
              <Image
  src={work.src}
                        alt={work.title}
                        title={work.title}
                        widths={[360, 1600]}
                        sizes={`(max-width: 360px) 360px, ${work.src.width}px`}
                        data-inventorynumber={work.inventorynumber}
                        data-info={work.info}
                        data-credit={work.credit}
                class="m-auto object-contain max-w-full max-h-full "
              />
            </div>
            <div
              class="absolute bottom-0 p-2 xflex xflex-row items-center justify-center w-full grid md:grid-flow-col gap-x-8"
            >
              <div class="font-normal">{work.title}</div>
              <div class="text-gray-400">{work.info}</div>
              <div class="italic text-gray-400">{work.credit.replace(new RegExp(work.inventorynumber,"i"),'')}</div>
              <div class="uppercase italic font-normal">#{work.inventorynumber}</div>
            </div>
            <div class="text-xs">{work.description}</div>
          </div>
        ))}

    </dialog>
  </div>

</Main>
<script>
  import smoothscroll from "smoothscroll-polyfill";
  smoothscroll.polyfill();
</script>
