---
import { type CollectionEntry, getCollection } from "astro:content";
import { Image } from "astro:assets";
import Main from "../../layouts/Main.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Thumbnail from "../../components/Thumbnail.astro";
import { Icon } from "astro-icon/components";

export async function getStaticPaths() {
  let rooms = await getCollection("rooms");
  return rooms
    .filter((room) => room.data.hidden !== true)
    .map((room) => ({
      params: { slug: room.slug },
      props: room,
    }));
}
type Props = CollectionEntry<"rooms">;

const room = Astro.props;
const { Content } = await room.render();

const artists = await getCollection("artists");
const venues = await getCollection("venues");

const grid_tail_size = new Array(4 - (room.data.images.length % 4));
for (let i = 0; i < grid_tail_size.length; i++) {
  grid_tail_size[i] = i;
}
---
<style>
  xdialog {
  transition: display .2s allow-discrete, overlay .2s allow-discrete;

  animation: close 0.2s forwards;
  &[open] {
    animation: open 0.2s forwards;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes xclose {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
</style>
<Main
  title={room.data.title.replace(/,[^,]+$/, "")}
  data-pagefind-meta={`title:ROOM - ${room.data.title.replace(/,[^,]+$/, "")}, ${venues.find((a) => a.slug == room.data.venue)?.data.title}, ${venues.find((a) => a.slug == room.data.venue)?.data.town}, ${room.data.startdate.getFullYear()}`}
  x-data="{open: false}"
  x-id="['slide']">
  <main>
    <section class="w-full">
      <div>
        <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 justify-between">
          {
            room.data.images?.map((image, index) => (
              <li class="cursor-pointer"
                x-data={`{slide:'slide${index}'}`}
                @click.prevent="$refs.dialog.showModal();$refs[slide].scrollIntoView({behavior:'instant'});   open=!open;">
                <Thumbnail
                  src={image.src}
                  alt={room.data.title}
                  title={room.data.title}
                  loading={index >= 8 ? `lazy`:`eager`}

                />
              </li>
            ))
          }
        </ul>
      </div>

      <h2>
        {venues.find((a) => a.slug == room.data.venue)?.data.title}, {
          venues.find((a) => a.slug == room.data.venue)?.data.town
        }
      </h2>

      <h4>
        <FormattedDate date={room.data.startdate} /> - {
          (room.data.enddate && <FormattedDate date={room.data.enddate} />) ||
            `ONGOING`
        }
      </h4>
      <div class="max-w-4xl">
        <Content />
      </div>
      <div class="max-w-4xl">
        <h4>
          Read about the artist{room.data.artists.length > 1 && "s"}:
        </h4>
        {
          room.data.artists.map((artist, a, i) => (
            <>
              <a href={`/artists/${artist}`}>
                {artists.find((a) => a.slug == artist)?.data.title}
              </a>
              {i.length - 1 > a && <span>, </span>}
            </>
          ))
        }
      </div>
    </section>
  </main>

  <dialog
  id="dialog"
  x-ref="dialog"
  class="w-screen h-screen inset-0 z-[600] pointer-events-none open:pointer-events-auto bg-gray-100 backdrop:bg-transparent"
  role="dialog"
  aria-modal="true">
  <div
    x-ref="slider"
    @scrollend="let {scrollLeft, clientWidth, scrollWidth} = $refs.slider;$refs.button_prev.classList.toggle('opacity-10',scrollLeft === 0); $refs.button_next.classList.toggle('opacity-10',scrollLeft+clientWidth === scrollWidth);"
    class="flex overflow-x-scroll items-start h-full snap-x snap-mandatory scroll-smooth select-text focus-visible:outline-none">
    <button
    @click="$refs.dialog.close(); open=!open;"
    class="absolute leading-none right-2 top-2 p-28 pr-0 pt-0 focus-visible:outline-none z-10"
    ><Icon
      name="material-symbols-light:close-rounded"
      class="size-12 lg:size-12"
    /></button
  >
  <button
    x-ref="button_prev"
    @click="let {scrollLeft, clientWidth, scrollWidth} = $refs.slider;  $refs.slider.scrollBy({left: -clientWidth, behavior:'smooth'});"
    @keyup.left.window="let {scrollLeft, clientWidth, scrollWidth} = $refs.slider; $refs.slider.scrollBy({left: -clientWidth, behavior:'smooth'});"
    class="absolute left-0 top-[30vh] bottom-[30vh] mt-auto p-28 pl-0 leading-none focus-visible:outline-none z-10 opacity-10 invisible md:visible"
    ><Icon
      name="material-symbols-light:arrow-back-ios-rounded"
      class="size-8 lg:size-8"
    /></button
  >
  <button
    x-ref="button_next"
    @click="let {scrollLeft, clientWidth, scrollWidth} = $refs.slider; $refs.slider.scrollBy({left: clientWidth, behavior:'smooth'});"
    @keyup.right.window="let {scrollLeft, clientWidth, scrollWidth} = $refs.slider; $refs.slider.scrollBy({left: clientWidth, behavior:'smooth'});"
    class="absolute right-0 top-[30vh] bottom-[30vh] mt-auto p-28 pr-0 leading-none focus-visible:outline-none z-10 invisible md:visible"
    ><Icon
      name="material-symbols-light:arrow-forward-ios-rounded"
      class="size-8 lg:size-8"
    /></button
  >

    {
      room.data.images?.map((image, i) => (
        <div
          x-ref={`slide${i}`}
          id={`slide${i}`}
          class="relative flex-none w-full h-full p-2 grid grid-rows-[1fr,auto,auto] items-center content-center justify-center snap-x snap-center text-sm font-thin">
          <div class="w-full h-[80vh] items-center content-center justify-center">
            <Image
              src={image.src}
              alt={room.data.title}
              title={room.data.title}
              widths={[360, 1600]}
              sizes={`(max-width: 360px) 360px, ${image.width}px`}
              x-widths={[360, 1600]}
              x-sizes={`(max-width: 360px) 360px, ${image.width}px`}
              class="object-contain max-w-full max-h-full "
            />
          </div>
        </div>
      ))
    }
  </div>
</dialog>

</Main>
