---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Main from '../../layouts/Main.astro';
import  FormattedDate  from "../../components/FormattedDate.astro";
import Thumbnail from "../../components/Thumbnail.astro";
let rooms = (await getCollection("rooms"));
const continuos = new Date(2100, 1, 1);
rooms = rooms
  .filter((room) =>!room.data.hidden)
  .sort((a, b) => {
    let date = (b.data.enddate||continuos) - (a.data.enddate||continuos)
    return  date;
   })
   .sort((a, b) => {
     return a.data.priority > b.data.priority ? -1 : 1;
   });
---
<Main title="The Rooms">
<main>
  <section>
    <ul class="flex flex-wrap gap-3 justify-evenly">
      {
        rooms.filter(room => !room.data.hidden ).map((room) => (
          <>
          <Thumbnail src={room.data.images[0]} alt={room.data.title} title={room.data.title} href={`/rooms/${room.slug}`}>
          <p class="text-sm my-[-0.5rem] italic"><FormattedDate date={room.data.startdate} /> - {room.data.enddate && <FormattedDate date={room.data.enddate} /> || `ONGOING`}</p>  
          </Thumbnail>
          </>
        ))
      }
    </ul>
  </section>
</main>
</Main>
